@model OnlineTicaretSitesi.Models.Siniflar.Cariler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h2>Müşteri Bilgi Paneli</h2>

@using (Html.BeginForm("Index2","CariPanel1"))
            {
<table class="table table-bordered">
    <tr>
        <td>
            <label>Mail adresi: @HttpContext.Current.User.Identity.Name</label>
        </td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })</td>
    </tr>
</table>
  <button class="btn btn-warning">Güncelle</button>
            }
